Meep-Foundation/View/Login/Media/Hyperlapse.mp4
# Firebase & Google API Keys
**/GoogleService-Info.plist
**/Info.plist

# Xcode
*.xcuserdata
*.xcuserstate

# Build artifacts
build/
DerivedData/

# CocoaPods
Pods/
Podfile.lock

# SwiftPM
.build/

# Misc
.DS_Store.DS_Store
xcuserdata/

Config.xcconfig
*.xcconfig


# API Keys
.env
secrets/