<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- App Identity -->
    <key>CFBundleIdentifier</key>
    <string>chima.Meep-Foundation.MeepAppClip</string>
    <key>CFBundleDisplayName</key>
    <string>MeepAppClip</string>
    <key>CFBundleName</key>
    <string>MeepAppClip</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <!-- App Clip -->
    <key>NSAppClip</key>
    <dict>
        <key>NSAppClipRequestEphemeralUserNotification</key>
        <true/>
        <key>NSAppClipRequestLocationConfirmation</key>
        <false/>
        <key>NSAppClipExperience</key>
        <dict>
            <key>NSInvocationURLs</key>
            <array>
                <string>https://aasa.meep.earth/share</string>
            </array>
        </dict>
    </dict>

    <!-- Deep Link Support -->
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>meep</string>
            </array>
            <key>CFBundleURLName</key>
            <string>earth.meep.appclip</string>
        </dict>
    </array>

    <!-- Location Permissions -->
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Your location is needed to find the ideal meeting point</string>

    <!-- App UI Scene Setup -->
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
        <key>UISceneConfigurations</key>
        <dict>
            <key>UIWindowSceneSessionRoleApplication</key>
            <array>
                <dict>
                    <key>UISceneConfigurationName</key>
                    <string>Default Configuration</string>
                    <key>UISceneDelegateClassName</key>
                    <string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
                </dict>
            </array>
        </dict>
    </dict>
</dict>
</plist>
