<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>aps-environment</key>
    <string>production</string>
    
    <key>application-identifier</key>
    <string>P7W8JZ4GWA.chima.Meep-Foundation</string>
    
    <key>com.apple.developer.associated-domains</key>
    <array>
        <string>applinks:meep-2681f.firebaseapp.com</string>
        <string>applinks:aasa.meep.earth</string>
        <string>webcredentials:aasa.meep.earth</string>
        <string>applinks:meep.earth</string>
        <string>webcredentials:meep.earth</string>
    </array>
</dict>
</plist>
